[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:abode1234/nvim.git
[submodule ".config/rofi"]
	path = .config/rofi
	url = git@github.com:abode1234/rofi.git
[submodule ".config/waybar"]
	path = .config/waybar
	url = git@github.com:abode1234/waybar.git
